<h4 class="microlabel">About the role</h4>
{% for paragraph in job.about %}<p class="role__prose">{{ paragraph }}</p>{% endfor %}
<h4 class="microlabel">Pay</h4>
<p class="role__prose">{{ job.compensation }}</p>
<h4 class="microlabel">Responsibilities</h4>
<ul class="role__list">{% for item in job.responsibilities %}<li>{{ item }}</li>{% endfor %}</ul>
<h4 class="microlabel">Experience</h4>
<ul class="role__list">{% for item in job.requirements %}<li>{{ item }}</li>{% endfor %}</ul>
<h4 class="microlabel">Useful experience</h4>
<ul class="role__list">{% for item in job.bonus %}<li>{{ item }}</li>{% endfor %}</ul>
<h4 class="microlabel">First project</h4>
<p class="role__prose">{{ job.milestone }}</p>
